<body>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link mt-1" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class=" navbar-nav ml-5 mt-3">
      <li class="nav-item">
        <form action="/messages" method="get">
           <button type="submit" class="btn btn-info">Messages</button>
        </form>
      </li>
      
      </ul></div>
      <ul class="ml-auto mr-2 navbar-nav">
      <li class="nav-item">
        <form action="/booking" method="post">
           <button type="submit" class="btn btn-primary">Booking</button>
        </form>
      </li>
      </ul>
      {{# if admin}}
      <ul class=" navbar-nav mr-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADMIN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/passwordreset">Change Password</a>
          <a class="dropdown-item" href="/signout">Sign Out</a>
        
        </div>
     </li></ul>
     {{/if}}
 
</nav>

<div class="container">
    <div class="row mt-4">
        <a href="/booking"  class="btn btn-success ml-auto">Add Customer</a>
    </div>
</div>
<table id="example" class="table table-striped table-bordered nowrap mt-5" style="width:100%">
        <thead>
            <tr>
                <th>Room No.</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Country</th> 
                <th>Arrival date</th>
                <th>Depart date</th>
                <th>Room Type</th>
                <th>Bedding</th>
                <th>Delete</th>
                <th>Update</th>
                
                
            </tr>
        </thead>
  
        <tbody> 
           

            {{#each customer}}
             <tr> 
              
               
           
                <td>{{this.roomno}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                <td>{{this.country}}</td>
                <td>{{this.arrive}}</td>
                <td>{{this.depart}}</td>
                <td>{{this.room}}</td>
                <td>{{this.bedding}}</td>
                <td><a href="/deleteuser/{{this.id}}" class="btn btn-sm btn-danger">Delete</a></td>
                <td><a href="/updateuser/{{this.id}}" class="btn btn-sm btn-info">Update</a></td>
                
            
                
                 
           </tr> 
           {{/each}}
   
            
        </tbody>
    </table>

<script src="/public/javascripts/admin-signin.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>