<body>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap.min.css">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MANAGER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link mt-1" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class=" navbar-nav ml-5 mt-3">
      <li class="nav-item">
        <form action="/messages" method="get">
           <button type="submit" class="btn btn-info">Messages</button>
        </form>
      </li>
      
      </ul>
    </div>
     
        <form action="/staffsignup"  method="get">
           <button type="submit" class="btn btn-warning ml-auto mr-2">Employee Signup</button>
        </form>
      
      
  
</nav>

<div class="container">
    
    <div class="row mt-4">
        <a href="/manager" class="btn btn-primary"> Show Customer Details</a>
        <a href="/addstaff"  class="btn btn-success ml-auto">Add Employee</a>
    </div>
</div>
<table id="example" class="table table-striped table-bordered nowrap mt-5" style="width:100%">
        <thead><h1 class="text-center display-3">Staff Details</h1>
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Role</th> 
                <th>Department</th>
                <th>Salary</th>
                <th>Delete</th>
                <th>Update</th>
                
            </tr>
        </thead>
  
        <tbody> 
           

            {{#each customer}}
             <tr> 
              
               
           
                <td>{{this.empid}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.Role}}</td>
                <td>{{this.Department}}</td>
                <td>{{this.Salary}}</td>
                
                <td><a href="/deletestaff/{{this.empid}}" class="btn btn-sm btn-danger">Delete</a></td>
                <td><a href="/updatestaff/{{this.empid}}" class="btn btn-sm btn-info">Update</a></td>
                
            
                
                 
           </tr> 
           {{/each}}
   
            
        </tbody>
    </table>

<script src="/public/javascripts/admin-signin.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>