
<body class="bg-secondary"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">User</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link mt-1" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="ml-auto mr-2 navbar-nav">
      <li class="nav-item">
        <form action="/booking" method="post">
           <button type="submit" class="btn btn-primary">Booking</button>
        </form>
      </li>
      
      </ul>
      {{# if user}}
      <ul class=" navbar-nav mr-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.Username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/signout">Sign Out</a>
        
        </div>
      </li>
    </ul>
    {{/if}}
  </div>
</nav> 
<div class="container">
<div class="card mt-5 bg-info text-white" style="width:400px;margin-left: 20rem;">
    <div class="card-header"><h3>   Account Info</h3></div>
  <div class="card-body">
    
    <p class="card-title">Name : {{customer.name}}</p>
    <p class="card-text">Email : {{customer.email}}</p>
    <p class="card-text">Phone No : {{customer.phone}}</p>
    <p class="card-text">Bedding : {{customer.bedding}}</p>
    <p class="card-text">Country : {{customer.country}}</p>
    <p class="card-text">Room : {{customer.room}}</p>
    <p class="card-text">Comments : {{customer.comments}}</p>



    <a href="/updateuser/{{customer.id}}" class="btn btn-primary">Update Booking Information</a>
  </div>
</div></div>
 <script src="/public/javascripts/admin-signin.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>